<div class="bg-text">
  <h1>I'm Swapnil Rawat</h1><br>
  <h3> a Developer and Ui Designer</h3>
  <a href="https://github.com/swapnilr17" class="fa fa-github"></a>
  <a href="https://www.dribbble.com/swapnil_r17" class="fa fa-dribbble"></a>
  </div>
<div class="main-image">
</div>