<%-include('./partials/header2');-%>
<div class="contact">
<div class="container">
<h1>Contact</h1>
<p> <%=contact%> </p>
</div>
<div class="footer">
     <%- include('./partials/footer');%>
     </div>
     </div>