<%-include('./partials/header2');-%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="contact">
<div class="container">
<h1>Contact</h1>
<p>Hello i am Swapnil Rawat</p>
<a href="#" class="fa fa-github"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-dribbble"></a>
<a href="#" class="fa fa-linkedin"></a>
</div>
<div class="footer">
     <%- include('./partials/footer');%>
     </div>
     </div>