@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.header{
  display: flex;
  min-height:60px;
  min-width:100%;
  position:fixed;
  justify-content: space-around;
  text-align: center;
  align-items:center;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: auto;
}

.header ul{
  margin-top:1.5vh;

}
.header.active {
  background: rgb(32, 144, 172);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.logo{
  color:white;
  text-transform: uppercase;
  letter-spacing:5px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content:space-around;
  width:40%;
}
.nav-links li{
  list-style: none;
  color:white;
}
.nav-links a{
  color:white;
  text-decoration: none;
  letter-spacing: 3px;
}

.burger div{
  width:25px;
  height:3px;
  background-color:white;
  margin:5px;
}
.burger{
  display:none;
}
@media (max-width: 1024px) {
.nav-links{
  width:100%;
}  
}
@media screen and (max-width:1024px) {
  body{
    overflow-x:hidden;
  }
  .nav-links {
    position: fixed;
    right:0px;
    top:0;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.527);
    display: flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    transform:translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }
  .burger{
    display:block;
    cursor: pointer;
    z-index: 2;
  }
}

.nav-active{
  transform: translateX(0%);
}

a{
  font-family: 'Montserrat', sans-serif;
  font-weight:800;
  font-size:18px;
  color:white;
  text-transform: uppercase;
  color: black;
}
a:hover{
    text-decoration: none;
}
.post
{
    padding-left:50px;
}
footer{
    margin-bottom: 0px;
  flex-shrink: 0;
  
}

.container {
    max-width: 100%;
}

.text{
  font-family: 'Montserrat', sans-serif;
  font-weight:800;
  font-size:50px;
  text-transform: uppercase;
  padding:50px;
}

.container h1{
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-weight:800;
  font-size:30px;
  text-transform: uppercase;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom:30px;
}

@media (min-width: 992px) {
  	.container {
    	max-width: 960px;
    }
}

@media (max-width: 992px) {
  .bg-text{
    font-size:25px;
        width:100%;
        text-align:center;
        padding-right:10%;
  }
} 
.main-image{
  height:100vh;
  width:100%;
  top:0;
  background-image:url("../images/main.svg");
  background-repeat: no-repeat;
  background-size:cover ;
}

.bg-text{
  position: Absolute;
  top:40%;
  padding-left:10%;
  font-family: 'Montserrat', sans-serif;
  font-weight:800;
  font-size:30px;
  color:white;
  text-transform: uppercase;
}